@{ Layout = null; }
<!DOCTYPE <html xmlns="http://www.w3.org/1999/xhtml">
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Multiple Products</title>
    </head>
    <body>
        <h3>Multiple Products</h3>
        <form method="post">
            <input type="text" name="product" />
            <input type="text" name="product" />
            <input type="text" name="product" />
            <input type="submit" value="Add products" />
        </form>
    </body>
</html>