@{ Layout = null; }
@model FriendsTown.Web.Models.ProductViewModel
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Product</title>
</head>
<body>
    <h4>Product Information</h4>
    <br />
    Code: <input value="@Model.Code" /> <br>
    Name: <input value="@Model.Name" /> <br>
    Price: <input value="@Model.Price" /> <br> 
</body>
</html>
