<script src = "~/lib/jquery/dist/jquery.js"></script>
<h4>Office Information</h4>
<br />
<div>
    <div class="row text-left">
        <span class="col-2">Code: </span>
        <span class="col-10">
            <input type="text" id="code" />
        </span>
    </div>
    <div class="row text-left">
        <span class="col-2">Name: </span>
        <span class="col-10">
            <input type="text" id="name" />
        </span>
    </div>
    <div class="row text-left">
        <span class="col-12">
            <input type="submit" onclick="GetData()" />
        </span>
    </div>
</div>
<script>
    function GetData() {
        console.log("GetData");
        $.get("http://localhost:5000/api/offices/" + $("#code").val(), 
            function (data) { 
                $("#name").val(data.name);
            })
    }
</script>