@{ Layout = null; }
<!DOCTYPE html>
<html>
    <head>
        <meta name= "viewport" content= "width=device-width" />
        <title>Welcome</title>
    </head>
    <body>
        <div>
            <h2>Welcome to FriendsTown</h2>
            <h2>Where everything is possible!</h2>
            <h3>Executing over @ViewBag.Framework</h3>
            <h3>Today is @ViewBag.Today</h3>
        </div>
    </body>
</html>